.visit-card {
  margin: 20px auto;
  border: 2px solid #23637f;
  padding: 10px;
  // max-width: fit-content;
  line-height: 2;
  color: #0c445d;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  // margin: 0 auto;
}
.visit-card__content {
  clear: both;
  padding: 10px;
  margin: 10px;
}
.visit-card__field {
  list-style: none;
}
.hidden {
  display: none;
}

.btn {
  background-color: #23637f;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  min-height: 25px;
  padding: 10px;
  display: block;
  margin: 10px auto;
}
.btn:hover {
  background-color: #31afc6;
}
.btn-close {
  float: right;
}
:btn-close:after {
  clear: both;
}
.btn-close:hover {
  background-color: #31afc6;
}
