body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: overlay;
}

.info{
  text-align: center;
  font-weight: 900;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);

}