@import "mixins";
.newVisit {
    width: 500px;
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 0;
    right: 0;
    @include flex-center;
    @include modal-window;
    flex-direction: column;

    &__container{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__title {
        color: #23637f;
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }

    &__subtitle{
        color: #23637f;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__create{
        @include form-buttons;
        height: 35px;
        width: 150px;
    }
    &__create:hover{
        background-color:  #31afc6;
    }

    &__cancel{
        @include form-buttons;
        width: 100px;
        height: 35px;
        background-color: #2188ab;
        margin-top: 15px;
    }
    &__cancel:hover{
        background-color:  #31afc6;
    }
    &__close-btn{
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        background-color: #2188ab;
        position: absolute;
        top: 7px;
        right: 7px;
    }
    &__close-btn:hover{
        background-color:   #31afc6;
    }

}

.newVisitForm {
    @include flex-center;
    flex-direction: column;
    width: 350px;
    row-gap: 10px;
    color: #23637f;
}

.selectDoctor{
    @include select-field;
    border-radius: 10px;
    height: 30px;   
    padding: 4px;   
}

.all-doctors{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 350px;
}
#visit-purpose{
    @include select-field;
    border-radius: 10px;
    height: 30px;
    padding: 8px;
}

.form-select {
    @include select-field;
    border-radius: 10px;
    height: 30px;
    padding: 4px;
}

#userName{
    @include select-field;
    border-radius: 10px;
    height: 30px;
    padding: 4px;
}

.form-label{
    font-weight: 700;
}

input[type="text"], input[type="number"], input[type="date"]{
    @include select-field;
    padding: 8px;
}

input[type="number"]{
    width: 95px;

}
