#filter-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    column-gap: 10px;
    padding: 20px 20px;
    color: #0c445d;
}

#searchByKeyword{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid cadetblue;
    padding: 10px;
    outline: none;
}
.reset-form{
    color: white;
    font-size: 16px;
    background-color: #23637f;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    border: none;
    cursor: pointer;
}
.reset-form:hover{
    background-color:  #31afc6;
}

.filter-parts{
    font-size: 18px;
    font-weight: 700;
}