.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btn{
        width: 100px;
        height: 45px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: white;
        background-color: #23637f;
        cursor: pointer;
        margin: 0 5px;
    }

    &__btn:hover{
        background-color:  #31afc6;

    }
}

