@import 'mixins';
.modal-login{
    width: 500px;
    height: 350px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    @include flex-center;
    @include modal-window;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 350px;
    row-gap: 10px;
    color: #23637f;
    
}

input[type="email"], input[type="password"]{
    height: 45px;
    border-radius: 5px;
    border: 2px solid cadetblue;
    padding: 10px;
    outline: none;    
}

input[type="email"]:focus, input[type="password"]:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.submit-login {
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #23637f;
    cursor: pointer;
    height: 45px;
    margin-top: 5px;
}
.submit-login:hover{
    background-color:  #31afc6;
}

.cancel-login{
    border-radius: 5px;
    border: none;
    font-size: 16px;
    height: 45px;
    color: white;
    cursor: pointer;
    background-color: #2a8fbb;
}
.cancel-login:hover{
    background-color:  #31afc6;
}

#overlay{
    width: 100vw; 
    height: 100vh; 
    max-width: 100%; 
    max-height: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: rgb(28 33 35 / 25%);
}