.message-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  width: 100%;
}

.message-window {
  background-color: $message-color;
  display: grid;
  grid-template-columns: 1fr min-content;
  color: $light-color;
  padding: 10px;
  &.error {
    background-color: $error-color;
  }
}
