@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin modal-window{
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    margin: 0 auto;
}

@mixin form-buttons{
    background-color: #23637f;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@mixin select-field{
    width: 100%;
    border: 2px solid cadetblue;
    color: #23637f;
    outline: none;
    box-shadow: 0 3px 8px rgb(33, 136, 171, 0.25);
    border-radius: 10px;
    height: 30px;
}