body.modal-open {
  position: fixed;
  overflow-y: hidden;
  left: 0;
  right: 0;
  padding-right: 16px;
}

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.modal-window__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  border: 1px solid black;
  padding: 20px;
  max-width: 90vw;
  min-height: 400px;
  max-height: fit-content;
}
